@import '../src/style/form.css';
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    [type='text'],
    input:where(:not([type])),
    [type='email'],
    [type='url'],
    [type='password'],
    [type='number'],
    [type='date'],
    [type='datetime-local'],
    [type='month'],
    [type='search'],
    [type='tel'],
    [type='time'],
    [type='week'],
    [multiple],
    textarea,
    select{
        @apply w-full  border border-gray-400 rounded-md focus:border-purple-500 focus:ring-1 focus:ring-purple-500;
    }
    [type="checkbox"],
    [type="radio"]{
        @apply border border-gray-400 text-purple-500 rounded-md  m-2;
    }
}
@layer components{
    .btn-solid{
        @apply px-10 py-2 text-center m-2 text-white rounded-md bg-purple-500
        hover:bg-purple-700 focus:bg-purple-700 font-semibold transition-all}
       
    }
@layer base{
   
  
    h1{
        @apply text-4xl text_ghost text-[#282828];
    }
    h2{
        @apply font-serif text-3xl font-bold uppercase text-left p-5
    }
    h3{
        @apply text-xl font-semibold font-serif
    }
    h6{
        @apply py-1 text-gray-500
    }
    body {
        @apply font-montserrat bg-[#FFFFFF];
      }
}

.bannerBg{
    background-image: url("https://img.freepik.com/premium-vector/dark-geometric-black-abstract-background-elegant-decorative-design-pattern-vector_392592-2839.jpg?w=826");
    object-fit: cover;
    width: 100%;
    place-items: center;
    background-size: cover;
    background-position: center;
}
.text-primary{
    @apply text-[#207F99]
}
.text_ghost{
    @apply text-[#282828]
}
.text-secondary{
    @apply text-[#F5C913]
}
.border-primary{
    @apply border-[#207F99]
}
.text-optional-red{
    @apply text-[#C91F1F]
}
.bg-primary{
    @apply bg-[#207F99]
}
/* .btn_ghost{
    @apply 
} */
.btn_secondary{
    @apply bg-[#207F99] p-4  rounded-md  font-semibold text-xl
}
.bg-secondary{
    @apply bg-[#F5C913]
}
.btn_ghost{
    @apply px-6 py-2 text-xl rounded bg-[#282828] text-white font-semibold hover:bg-[#207F99]
}
.bg-optional-red{
    @apply bg-[#C91F1F]
}
.bg_profileCard{
    @apply bg-[#514F4D]
}

.profileDataList{
    @apply flex gap-3 p-5 bg_profileCard  rounded-lg font-semibold font-serif;
}
.active{
    @apply rounded-md p-3 bg-gray-500 flex align-baseline gap-5 font-semibold text-xl w-full
}
.pending{
    @apply rounded-md p-3 flex align-baseline gap-5 font-semibold text-xl w-full;
}
.ghost_bg{
    @apply bg-[#FFFFFF]
     /* 644145 */
}
.bg_dashboard{
    @apply bg-[#374151]
}
.cart_button{
    @apply  bg-[#207F99] text-white text-[16px] rounded-md p-2 transition delay-300 duration-300
}
.product_cart{
    @apply  z-40 transition rounded-2xl scale-90 shadow-lg
}
.product_cart:hover{
    @apply bg-opacity-10 transition-all border-2 border-[#514F4D] duration-500 ease-out shadow-lg cursor-pointer 
}
.product_cart:hover .cart_button{
    @apply  translate-x-2 transition-all delay-200 duration-1000 ease-in
}
.service_cart_bg{
@apply bg-[#514F4D]
}
.banner{
    @apply bg-[url('https://toffpark.com/wp-content/uploads/2024/06/Toffpark-Shoe-Banners-1.jpg')] bg-cover 
}
.paymentMethodCart{
    @apply h-[70px]  border-2 w-[300px]  m-4 rounded-lg p-4 border-gray-500 bg-gray-200 text-gray-500
     text-xl text-center flex justify-center gap-5
}